#dashTop{
  width: 90%;
  height: auto;
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content: space-between;
  margin: 50px auto 0 auto;
  padding:20px 0;
}


#dashTop .topGraph{
  min-width: 49%;
  min-height: 330px;
  border-radius: 5px;
  border: 1px solid #2ae59d;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  padding:10px;
  
}

#dashTop .topGraph .melonChart {
  height: auto;
  width: 95%;
}

#dashTop .topGraph h1{
  color:#fff;
  font-size:15px;
  align-items:left;
  justify-content:left;
}

#youtubeData, #spotifyData{
  width:90%;
  height:auto;
  margin:0px auto;
  display:flex;
  padding:0;
  flex-direction: column;    
}

#firstRaw{
  width:100%;
  height:auto;
  margin: 0;
  display: flex;
  flex-direction:raw;
  justify-content: space-between; 
}
#secondRaw{
  width:100%;
  height:auto;
  margin-top:20px;
  display: flex;
  flex-direction:raw;
  justify-content: space-between;
}

#firstRaw .container{
  min-width: 49%;
  max-height:360px;
  overflow: auto;
  padding: 20px;
  border: 1px solid #2ae59d;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.container a{
  color: #2ae59d;
  text-decoration: none;
  font-size: 14px;
  margin-top: 10px;

}

#secondRaw .container{
  min-width: 49%;
  max-height:320px;
  overflow: auto;
  padding: 20px;
  border: 1px solid #2ae59d;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}


.container table{
  width: 100%;
  border-collapse: collapse;
  font-size:10px;
  margin-bottom: 10px;
}

.container th,td{
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #749085;
  color: #fff;
  font-size: 13px;
}

.container th{
  background: rgba(255, 255, 255, 0.1);
}

.container h1{
  color: #fff;
  font-size: 15px;
  margin: 10px;
  margin-top: 0;
}

.container td:nth-child(3),
.container td:nth-child(4),
.container td:nth-child(5),
.container th:nth-child(3),
.container th:nth-child(4),
.container th:nth-child(5) {
  text-align: right;
}


#data-container {
  width: 100%;
  margin: 20px auto;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #2ae59d;
}

#data-container table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

#data-container th, #data-container td {
 padding: 10px;
  text-align: left;
  border-bottom: 1px solid #749085;
  color: #fff;
  font-size: 13px;
}

#data-container th {
  background: rgba(255, 255, 255, 0.1);
}

#data-container h1 {
  color: #fff;
  font-size: 15px;
  margin: 10px;
  margin-top: 0;
}

@media (max-width:576px){
  #dashTop{
    width: 95%;
    height: auto;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    margin: 50px auto 0 auto;
    padding:20px 0;
    gap:10px;
  }
  
  
  #dashTop .topGraph{
    min-width: 100%;
    min-height:200px; 
    border-radius: 5px;
    border: 1px solid #2ae59d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    padding:10px;
    
  }
  
  #dashTop .topGraph .melonChart {
    height: 170px;
    width: 100%;
  }
  #dashTop .topGraph h1{
    color:#fff;
    font-size:10px;
    top:0;
    margin:0;
    align-items:left;
    justify-content:left;
  }
  
  #youtubeData, #spotifyData{
    width:95%;
    height:auto;
    margin:10px auto;
    display:flex;
    flex-direction: column;   
    justify-content:space-between;
  }
  
  #firstRaw{
    width:100%;
    height:auto;
    margin: 0;
    display: flex;
    flex-direction:column;
    justify-content: space-between; 
    gap:10px;
  }
  #secondRaw{
    width:100%;
    height:auto;
    margin-top:20px;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    gap:10px
  }
  
  #firstRaw .container{
    max-height:400px;
    overflow: auto;
    padding: 10px;
    border: 1px solid #2ae59d;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
  }
  
  .container a{
    color: #2ae59d;
    text-decoration: none;
    font-size: 14px;
    margin-top: 10px;
  
  }
  
  #secondRaw .container{
    max-height:380px;
    overflow: auto;
    padding: 20px;
    border: 1px solid #2ae59d;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
  }
  
  
  .container table{
    width: 100%;
    border-collapse: collapse;
    font-size:10px;
    margin-bottom: 10px;
  }
  
  .container th,td{
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #749085;
    color: #fff;
    font-size: 13px;
  }
  
  .container th{
    background: rgba(255, 255, 255, 0.1);
  }
  
  .container h1{
    color: #fff;
    font-size: 13px;
    margin: 10px;
    margin-top: 0;
  }
  
  .container td:nth-child(3),
  .container td:nth-child(4),
  .container td:nth-child(5),
  .container th:nth-child(3),
  .container th:nth-child(4),
  .container th:nth-child(5) {
    text-align: right;
  }
  
  
  #data-container {
    width: 100%;
    margin: 0px auto;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #2ae59d;
  }
  
  #data-container table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
  }
  
  #data-container th, #data-container td {
   padding: 10px;
    text-align: left;
    border-bottom: 1px solid #749085;
    color: #fff;
    font-size: 12px;
  }
  
  #data-container th {
    background: rgba(255, 255, 255, 0.1);
  }
  
  #data-container h1 {
    color: #fff;
    font-size: 13px;
    margin: 10px;
    margin-top: 0;
  } 
  }